.artisthero {
  width: 100%;
  position: relative;
  background-color: #3b3b3b;
  display: flex;
  justify-content: center;
}
.artisthero__img {
  width: 100%;
}
.artisthero .artistheroicon {
  position: absolute;
  bottom: -62px;
}

.artist__discover {
  padding-top: 100px;
}

@media (min-width: 768px) {
  .artisthero .artistheroicon {
    left: 70px;
  }
}
@media (min-width: 1400px) {
  .artisthero .artistheroicon {
    left: 100px;
  }
}
@media (min-width: 1500px) {
  .artisthero .artistheroicon {
    left: 150px;
  }
}
@media (min-width: 1700px) {
  .artisthero .artistheroicon {
    left: 200px;
  }
}
.animakid {
  width: 100%;
  padding: 100px 20px 50px;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.animakid .animakid__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.animakid .animakid__top .animakid__top__left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.animakid .animakid__top .animakid__top__left h1 {
  font-size: 28px;
  color: white;
}
.animakid .animakid__top .animakid__top__left .animakid__st {
  display: flex;
  gap: 25px;
}
.animakid .animakid__top .animakid__top__left .animakid__st .animakid__st__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.animakid .animakid__top .animakid__top__left .animakid__st .animakid__st__item h2 {
  font-size: 25px;
  color: white;
}
.animakid .animakid__top .animakid__top__left .animakid__st .animakid__st__item p {
  color: white;
}
.animakid .animakid__top .animakid__top__right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.animakid .animakid__top .animakid__top__right button {
  width: 100%;
  border: none;
  padding: 15px 0;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  border: 1px solid #A259FF;
}
.animakid .animakid__top .animakid__top__right .abtn1 {
  background-color: #A259FF;
}
.animakid .animakid__top .animakid__top__right .abtn2 {
  background-color: transparent;
}
.animakid .animakid__top .animakid__top__right .abtn2 i {
  color: #A259FF;
}
.animakid .animakid__middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.animakid .animakid__middle h4 {
  font-size: 18px;
  color: #858584;
}
.animakid .animakid__middle p {
  color: white;
}
.animakid .animakid__middle .animakid__middle__icon {
  display: flex;
  gap: 10px;
}
.animakid .animakid__middle .animakid__middle__icon i {
  font-size: 24px;
  color: #858584;
}

@media (min-width: 768px) {
  .animakid {
    width: 100%;
    padding: 100px 70px 50px;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .animakid .animakid__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .animakid .animakid__top .animakid__top__left {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .animakid .animakid__top .animakid__top__left h1 {
    font-size: 28px;
    color: white;
  }
  .animakid .animakid__top .animakid__top__left .animakid__st {
    display: flex;
    gap: 25px;
  }
  .animakid .animakid__top .animakid__top__left .animakid__st .animakid__st__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .animakid .animakid__top .animakid__top__left .animakid__st .animakid__st__item h2 {
    font-size: 25px;
    color: white;
  }
  .animakid .animakid__top .animakid__top__left .animakid__st .animakid__st__item p {
    color: white;
  }
  .animakid .animakid__top .animakid__top__right {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .animakid .animakid__top .animakid__top__right button {
    width: 250px;
    border: none;
    padding: 25px 0;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    border: 1px solid #A259FF;
  }
  .animakid .animakid__top .animakid__top__right .abtn1 {
    background-color: #A259FF;
  }
  .animakid .animakid__top .animakid__top__right .abtn2 {
    background-color: transparent;
  }
  .animakid .animakid__top .animakid__top__right .abtn2 i {
    color: #A259FF;
  }
  .animakid .animakid__middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .animakid .animakid__middle h4 {
    font-size: 18px;
    color: #858584;
  }
  .animakid .animakid__middle p {
    color: white;
  }
  .animakid .animakid__middle .animakid__middle__icon {
    display: flex;
    gap: 10px;
  }
  .animakid .animakid__middle .animakid__middle__icon i {
    font-size: 24px;
    color: #858584;
  }
}
@media (min-width: 992px) {
  .animakid {
    padding: 100px 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .animakid .animakid__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  .animakid .animakid__top .animakid__top__left {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .animakid .animakid__top .animakid__top__left h1 {
    font-size: 48px;
  }
  .animakid .animakid__top .animakid__top__left .animakid__st {
    display: flex;
    gap: 25px;
  }
  .animakid .animakid__top .animakid__top__left .animakid__st .animakid__st__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .animakid .animakid__top .animakid__top__left .animakid__st .animakid__st__item h2 {
    font-size: 35px;
    color: white;
  }
  .animakid .animakid__top .animakid__top__left .animakid__st .animakid__st__item p {
    color: white;
    font-size: 22px;
  }
  .animakid .animakid__top .animakid__top__right {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .animakid .animakid__top .animakid__top__right button {
    width: 250px;
    border: none;
    padding: 25px 0;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    border: 1px solid #A259FF;
  }
  .animakid .animakid__top .animakid__top__right .abtn1 {
    background-color: #A259FF;
  }
  .animakid .animakid__top .animakid__top__right .abtn2 {
    background-color: transparent;
  }
  .animakid .animakid__top .animakid__top__right .abtn2 i {
    color: #A259FF;
  }
  .animakid .animakid__middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .animakid .animakid__middle h4 {
    font-size: 22px;
    color: #858584;
  }
  .animakid .animakid__middle p {
    color: white;
    font-size: 22px;
  }
  .animakid .animakid__middle .animakid__middle__icon {
    display: flex;
    gap: 10px;
  }
  .animakid .animakid__middle .animakid__middle__icon i {
    font-size: 24px;
    color: #858584;
  }
}
@media (min-width: 1400px) {
  .animakid {
    padding: 100px 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
@media (min-width: 1500px) {
  .animakid {
    padding: 100px 150px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
@media (min-width: 1600px) {
  .animakid {
    padding: 100px 200px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}