.category{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 30px;
    &__header{
        font-size: 24px;
        color: white;
    }
    &__cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        row-gap: 70px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        border-radius: 38px;
        width: 100%;
        position: relative;
        z-index: 910;
        position: relative;
        transition: 0.6s;
        &__img{
            z-index: 910;
            transition: 0.6s;
            img{
                width: 100%;
                border-radius: 38px;
                height: 100%;
                transition: 0.6s;
                z-index: 940;
            }
            span{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.6s;
                border-radius: 38px 38px 0 0;
                z-index: 950;
                i{
                    display: none;
                }
                &:hover{
                    backdrop-filter: blur(5px);
                    border-radius: 38px 38px 0 0;
                    i{
                        display: block;
                        font-size: 45px;
                        color: white;
                        color: white;
                    }
                }
            }
        }
        &__text{
            background-color: #3B3B3B;
            width: 100%;
            padding: 20px 40px ;
            position: absolute;
            left: 0;
            top: 50px;
            z-index: 900;
            border-radius: 0 0 38px 38px;
            transition: 0.6s;
            p{
                color: white;
            }
        }
        &:hover{
            border-radius: 38px 38px 0 0;
            .category__card__img{
                img{
                    border-radius: 38px 38px 0 0;
                }
                span{
                    backdrop-filter: blur(7px);
                    border-radius: 38px 38px 0 0;
                    i{
                        display: block;
                        font-size: 45px;
                        color: white;
                        color: white;
                    }
                }
            }
            .category__card__text{
                top: 100%;
                z-index: 945;
            }
        }
    }
}







@media (min-width: 550px){
    .category{
        padding: 40px 70px;
        .category__cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (min-width: 768px){
    .category{
        padding: 50px 70px;
        .category__header{
            font-size: 36px;
        }
        .category__cards{
            grid-template-columns: repeat(2, 1fr);
            row-gap: 100px;
            .category__card{
                .category__card__text{
                    padding: 30px;
                    p{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px){
    .category{
        .category__header{
            font-size: 36px;
        }
        .category__cards{
            grid-template-columns: repeat(4, 1fr);
            row-gap: 70px;
            .category__card{
                .category__card__text{
                    padding: 15px 30px;
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px){
    .category{
        .category__header{
            font-size: 36px;
        }
        .category__cards{
            grid-template-columns: repeat(4, 1fr);
            row-gap: 100px;
            .category__card{
                .category__card__img{
                    span{
                        i{
                            font-size: 86px;
                        }
                    }
                }
                .category__card__text{
                    padding: 20px 30px;
                    p{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}