.discover{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    gap: 30px;
    &__header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &__left{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
            color: white;
        }
        &__btn{
            button{
                padding: 15px 50px;
                border: 2px solid #A259FF;
                color: white;
                background-color: transparent;
                font-size: 18px;
                border-radius: 20px;
                display: flex;
                gap: 15px;
                i{
                    color: #A259FF;
                    font-size: 20px;
                }
            }
        }
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        gap: 0px;
        background-color: #3B3B3B;
        border-radius: 40px;
        &__img{
            img{
                width: 100%;
                height: 100%;
            }
        }
        &__info{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            h2{
                color: white;
                font-family: monospace;
                font-size: 32px;
            }
            &__name{
                display: flex;
                align-items: center;
                gap: 20px;
                p{
                    color: white;
                    letter-spacing: 2px;
                }
            }
            &__st{
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                &__price{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    h5{
                        color: white;
                        font-size: 22px;
                        font-weight: 100;
                    }
                    p{
                        color: #858584;
                    }
                }
            }
        }
    }
}



@media (max-width:550px){
    .discover{
        padding: 50px 70px;
    }
}
@media (min-width:768px){
    .discover{
        padding: 50px 70px;
        &__header{
            flex-direction: row;
            justify-content: space-between;
            &__left{
                align-items: start;
            }
        }
        &__items{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (min-width:992px){
    .discover{
        padding: 50px 70px;
        &__header{
            h1{
                font-size: 48px;
            }
            p{
                font-size: 24px;
            }
        }
        &__items{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (min-width:1400px){
    .discover{
        padding: 50px 100px;
        &__header{
            h1{
                font-size: 48px;
            }
            p{
                font-size: 24px;
            }
        }
        &__items{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (min-width:1500px){
    .discover{
        padding: 50px 150px;
        &__header{
            h1{
                font-size: 48px;
            }
            p{
                font-size: 24px;
            }
        }
        &__items{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (min-width:1700px){
    .discover{
        padding: 50px 200px;
        &__header{
            h1{
                font-size: 48px;
            }
            p{
                font-size: 24px;
            }
        }
        &__items{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}